backend:
  name: git-gateway
  # repo: flatbil/Taree-Community-Website
  branch: main
  # auth_type: implicit
  # auth_scope: repo
  # client_id: Ov23lidbfjy9XhEdfTaY
  # base_url: https://api.netlify.com

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Home"
        name: "home"
        file: "public/content/home.md"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Hero text", name: "hero", widget: "text" }
          - { label: "Body", name: "body", widget: "markdown" }

  - name: "news"
    label: "News"
    folder: "public/content/news"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
  
  - name: "news_index"
    label: "News index"
    files:
      - label: "News Index"
        name: "news_index"
        file: "public/content/news/index.json"
        fields:
          - { label: "News items", name: "items", widget: "list", field: {
              label: "Item", name: "item", widget: "object", fields: [
                { label: "Title", name: "title", widget: "string" },
                { label: "Date", name: "date", widget: "datetime" },
                { label: "Slug", name: "slug", widget: "string" },
                { label: "Summary", name: "summary", widget: "text" }
              ]
            }
          }