backend:
  name: github
  repo: yourusername/Taree-Community-Website
  branch: main # or your default branch
  auth_type: implicit
  base_url: https://tareecommunityhoa.netlify.app
  open_authoring: false


media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - label: "Home"
        name: "home"
        file: "public/content/home.md"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Hero text", name: "hero", widget: "text" }
          - { label: "Body", name: "body", widget: "markdown" }

  - name: "news"
    label: "News"
    folder: "public/content/news"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
